.container-rules{
    background-color: rgb(237, 237, 237);
    h1{
    display: flex;
    justify-content: center; 
}
}
.rules{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    li{
        width: 55%;
    }
}