<div class="container-rules">
    <h1>QUE DEBES SABER</h1>
<ul class=" card-rules">
    <li class="cards-rules">
        <h3>{{reglasaSeguir.name}}</h3>
        <p>{{reglasaSeguir.rule1}}</p>
        <p>{{reglasaSeguir.rule2}}</p>
        <p>{{reglasaSeguir.rule3}}</p>
        <a href="">SABER MAS ></a>
    </li>
    <li class="cards-rules">
        <h3>{{seguridadYPropiedad.name}}</h3>
        <p>{{seguridadYPropiedad.rule1}}</p>
        <p>{{seguridadYPropiedad.rule2}}</p>
        <p>{{seguridadYPropiedad.rule3}}</p>
        <a href="">SABER MAS ></a>
    </li>
    <li class="cards-rules">
        <h3>{{politicasDeCancelacion.name}}</h3>
        <p>{{politicasDeCancelacion.rule1}}</p>
        <p>{{politicasDeCancelacion.rule2}}</p>
        <a href="">SABER MAS ></a>
    </li>
</ul>
</div>
