<div class="container-rules">
    <h1>{{title}}</h1>
</div>
<ul class="rules">
    <li>
        <h1>{{reglasaSeguir.name}}</h1>
        <p>{{reglasaSeguir.rule1}}</p>
        <p>{{reglasaSeguir.rule2}}</p>
        <p>{{reglasaSeguir.rule3}}</p>
        <a href=""></a>
    </li>
    <li>
        <h1>{{seguridadYPropiedad.name}}</h1>
        <p>{{seguridadYPropiedad.rule1}}</p>
        <p>{{seguridadYPropiedad.rule2}}</p>
        <p>{{seguridadYPropiedad.rule3}}</p>
        <a href=""></a>
    </li>
    <li>
        <h1>{{politicasDeCancelacion.name}}</h1>
        <p>{{politicasDeCancelacion.rule1}}</p>
        <p>{{politicasDeCancelacion.rule2}}</p>
        <a href=""></a>
    </li>
</ul>
