.container-rules{
    height: 400px;
    display: grid;
    grid-template-columns:1fr  1fr 1fr;
 background-color: rgb(237, 237, 237);

}
.cards-rules{
    padding: 70px;
    display: flex;
    flex-direction: column;
    width: 350px;
    line-height: 20px;
    h3{
        font-size: 22px;
    }
    a{
        color: black;
    }
}

