<div class="">
    <h1>{{title}}</h1>
  <ul class="container-estancias">
    <li class="cards-estancias">
      <img src="{{adosadoColorido.image}}" alt="">
      <h2>{{adosadoColorido.nombre}}</h2>
      <p>{{adosadoColorido.descripcion}}</p>
    </li>
    <li class="cards-estancias">
      <img src="{{plazaBonasa.image}}" alt="">
      <h2>{{plazaBonasa.nombre}}</h2>
      <p>{{plazaBonasa.descripcion}}</p>
    </li>
    <li class="cards-estancias">
      <img src="{{santuarioAntiguo.image}}" alt="">
      <h2>{{santuarioAntiguo.nombre}}</h2>
      <p>{{santuarioAntiguo.descripcion}}</p>
    </li>
  </ul>
  </div>
