<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <title>Document</title>
</head>
<body>
<header>
  <div>
    <ul class="container-search">
      <li>
        <i class="fa-solid fa-house"></i><span>Alojate</span>
    </li>
    <li>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bars"></i>
    </li>
    </ul>
    <hr>
  </div>

  <app-navbar></app-navbar>

  <!-- <img src="/assets/Casaportada.webp" alt="">
  <img [src]="imagen" alt=""> -->

  <div class="container-header">
    <ul>
      <li>
        <h1>ESTANCIAS</h1>
        <h2>MAS DETALLES</h2>
      </li>
    </ul>
  </div>
</header>
<main>
<app-carrusel></app-carrusel>
  <div class="reservaciones">
  </div>
  <div>
    <ul class="more-info">
      <li>
        <h2>ALOJAMIENTO ENTERO</h2>
        <p>CASA DE CAMPO EN TEPOZTLAN</p>
      </li>
      <li>
        <h2>MAS DE 16 HUESPEDES</h2>
        <p><i class="fa-solid fa-bed"></i>6 HABITACIONES</p>
        <p><i class="fa-solid fa-shower"></i>6 BANOS</p>
      </li>
      <li>
        <h2>ANFITRION</h2>
        <p>DIEGO</p>
        <p>2 ANOS DE EXPERIENCIA</p>
      </li>
    </ul>
  <app-estancias></app-estancias>
  </div>
  <app-rules></app-rules>
</main>
 <footer>
    <ul>
      <li>
        <h1>INSPIRACION PARA FUTURAS ESCAPADAS</h1>
        <h2>SIGUE DESCUBRIENDO LA CATEGORIA DE LAS CABANAS</h2>
      </li>
    </ul>
<button>CONTACTANOS</button>
</footer>
</body>
</html>