<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <title>Document</title>
</head>
<body>
<header>
  <div>
    <ul class="container-search">
      <li>
        <i class="fa-solid fa-house"></i><span>Alojate</span>
    </li>
    <li>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bars"></i>
    </li>
    </ul>
    <hr>
  </div>
  <div>
    <ul class="menu-nav">
        <li>Home</li>
        <li>Booking</li>
        <li>House</li>
        <li>Pages</li>
        <li>About</li>
    </ul>
  </div>
  <div class="container-header">
    <ul>
      <li>
        <h1>ESTANCIAS</h1>
        <h2>MAS DETALLES</h2>
      </li>
    </ul>
  </div>
</header>
<main>
  <div class="images-carrusel">
    <img src="" alt="Casa1">
  </div>
  <div class="reservaciones">
  </div>
  <div>
    <ul class="more-info">
      <li>
        <h2>ALOJAMIENTO ENTERO</h2>
        <p>CASA DE CAMPO EN TEPOZTLAN</p>
      </li>
      <li>
        <h2>MAS DE 16 HUESPEDES</h2>
        <p><i class="fa-solid fa-bed"></i>6 HABITACIONES</p>
        <p><i class="fa-solid fa-shower"></i>6 BANOS</p>
      </li>
      <li>
        <h2>ANFITRION</h2>
        <p>DIEGO</p>
        <p>2 ANOS DE EXPERIENCIA</p>
      </li>
    </ul>
  </div>
<div>
  <h1>ESTANCIAS</h1>
<ul class="container-estancias">
  <li class="cards-estancias">
    <img src="" alt="">
    <h2>ADOSADO COLORIDO</h2>
    <p>DESCANSAR Y RETIRARSE EN UNA CASA CON LA MEJOR COMUNIDAD</p>
  </li>
  <li class="cards-estancias">
    <img src="" alt="">
    <h2>PLAZA BONANZA</h2>
    <p>MIRA EL OCEANO, ESCUCHA LAS OLAS Y DISFRUTA EL MAR</p>
  </li>
  <li class="cards-estancias">
    <img src="" alt="">
    <h2>SANTUARIO ANTIGUO</h2>
    <p>ENCUENTRA LA CASA DE TUS SUENOS CERCA DEK COLEGIO Y DE TU OFICINA</p>
  </li>
</ul>
</div>
<div class="container-rules">
  <h1>QUE DEBES SABER</h1>
  <ul class="rules">
    <li>
      <h2>REGLAS DE LA CASA</h2>
      <p>LLEGADA A PARTIR DE LAS 3:00 P.M.</p>
      <p>SALIDA ANTES DE LAS 1:00 P.M.</p>
      <p>NO SE ADMITEN MASCOTAS</p>
      <a>SABER MAS></a>
    </li>
    <li>
      <h2>SEGURIDAD Y PROPIEDAD</h2>
      <p>NO HAY ALARMA DE HUMO</p>
      <p>ALBERCA/JACUZZI SIN REJA, NI PUERTA CON LLAVE</p>
      <p>NO SE REQUIERE DETECTOR DE MONOXIDO DE CARBONO</p>
      <a>SABER MAS></a>
    </li>
    <li>
      <h2>POLITICA DE CANCELACION</h2>
      <p>SI CANCELAS ANTES DE LA FECHA DE LLEGADA (5ENE), RECIBIRAS UN REEMBOLSO PARCIAL</p>
      <p>PASA ESE PLAZO, TUE REEMBOLSO DEPENDERA DE CUANDO CANCELES</p>
      <a>SABER MAS></a>
    </li>
  </ul>
</div>
</main>
 <footer>
    <ul>
      <li>
        <h1>INSPIRACION PARA FUTURAS ESCAPADAS</h1>
        <h2>SIGUE DESCUBRIENDO LA CATEGORIA DE LAS CABANAS</h2>
      </li>
    </ul>
<button>CONTACTANOS</button>
</footer>
</body>
</html>