<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
  <title>Document</title>
</head>
<body>
<header>
  <div>
    <ul class="container-search">
      <li>
        <i class="fa-solid fa-house"></i><span>Alojate</span>
    </li>
    <li>
      <i class="fa-solid fa-magnifying-glass"></i>
      <i class="fa-solid fa-bars"></i>
    </li>
    </ul>
    <hr>
  </div>
  <app-navbar></app-navbar>
  <div class="container-header">
    <app-titulos></app-titulos>
  </div>
</header>
<main>
  <div class="principal-container">
    <div class="componente1">
      <app-carrusel></app-carrusel>
    </div>
    <div class="componente2">
      <app-reservations></app-reservations>
    </div>
  </div>
  <section>
    <ul class="more-inf">
      <li>
        <h2>ALOJAMIENTO ENTERO</h2>
        <p>CASA DE CAMPO EN TEPOZTLAN</p>
      </li>
      <li>
        <h2>MAS DE 16 HUESPEDES</h2>
        <p><i class="fa-solid fa-bed"></i>6 HABITACIONES</p>
        <p><i class="fa-solid fa-shower"></i>6 BANOS</p>
      </li>
      <li>
        <h2>ANFITRION</h2>
        <p>DIEGO</p>
        <p>2 ANOS DE EXPERIENCIA</p>
      </li>
    </ul>
  </section>
  <section class="container-estancias">
  <app-titulos></app-titulos>
</section>
<app-estancias></app-estancias>
  <section>
    <app-rules></app-rules>
  </section>
</main>
<footer>
    <h1>INSPIRACION PARA FUTURAS ESCAPADAS</h1>
    <h2>SIGUE DESCUBRIENDO LA CATEGORIA DE LAS CABANAS</h2>
</footer>
</body>
</html>