 body{ 
    font-weight:lighter;
    font-size: 18px;
    text-decoration: none;
    margin: 0%;
    width: 100%;
}
li{
    list-style-type: none;
}
h1{
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}
h2{
    font-size: 20px;
}

a{
    text-decoration: underline;
    font-weight: bold;
}
header{
    background-color: rgba(51,51,51,255);
    color: white;
}
.container-search{
    display: flex
    ;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    height: 30px;
    margin: 0%;
}

.container-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 237, 237);
    text-decoration: none;
    color: rgba(51,51,51,255);
    height: 100px;
    
}
.principal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 100px;

}
.more-inf{
    display: flex;
    justify-content: center;
    gap:40px;
    font-weight: bold;
}

.container-estancias{
    display: flex;
    justify-content: center;

}
footer {
    width: 100%;
    background-color: rgba(38, 37, 37, 0.928) ;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
}

