
<section class="reservations"> 
    <div>
        <ul class="huesped">
            <li>
                <p>HUESPEDES</p>
                <p>NOCHES</p>
            </li>
            <li>
                <button (click)="incrementarHuesped()">+</button>
                <p>1</p>
                <button (click)="decrementarHuesped()">-</button>
                <button (click)="incrementarNoches()">+</button>
                <p>1   </p>
                <button (click)="decrementarNoches()">-</button>
            </li>
        </ul>
</div>
<div>
    <hr>
    <br>
    <p>EXTRAS</p>
    <ul class="EXTRAS">
        <li>MASCOTA</li>
        <li>CALEFACCION</li>
        <li>RUTA DE MONTANA</li>
        <li>SEDERISMO</li>
        <li>VISTA A LA CASCADA</li>
    </ul>
    <br>
    <hr>
    <p>TOTAL IMPUESTOS {{total}}</p>
    <button class="reservar">Reservar</button>
</div>
</section>
