<section class="reservations-container">
    <ul>
        <li>HUESPEDES</li>
        <button (click)="incrementarHuesped()"></button>
    </ul>
    <ul>
        <li>NOCHES</li>
        <button (click)="incrementarNoches()"></button>
    </ul>
<hr>
<br>
<div>
    <ul class="EXTRAS">
        <li>MASCOTA</li>
        <li>CALEFACCION</li>
        <li>RUTA DE MONTANA</li>
        <li>SEDERISMO</li>
        <li>VISTA A LA CASCADA</li>
    </ul>
</div>
<div>
    <br>
    <hr>
    <p>TOTAL IMPUESTOS {{total}}</p>
    <button>Reservar</button>
</div>
</section>