<div class="reservation-container">
    <div class="adding">
      <label>Huéspedes</label>
      <button (click)="decrementarHuesped()">-</button>
      <span>{{ huespedes }}</span>
      <button (click)="incrementarHuesped()">+</button>
    </div>
    <div class="adding">
      <label>Noches</label>
      <button (click)="decrementarNoches()">-</button>
      <span>{{ noches }}</span>
      <button (click)="incrementarNoches()">+</button>
    </div>
  
    <div class="extras">
      <h3>Extras</h3>
      <div>
      </div>
    </div>
    <div class="total">
      <h3>Total con impuestos</h3>
      <p>${{ total }} MXN</p>
    </div>
    <button class="reservar">Reservar</button>
  </div>
  